<html>
<head>
    <link rel="stylesheet" href= "/static/style2.css">
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/cursor.js"></script>
    <script src="/static/loading.js"></script>
    <meta charset="UTF-8">
    <title>The Matrix</title>
</head>
<body>
    <center>
        <table class="t1">
            <tr >
                <td class = "td1" colspan="2">
                    <div class = "div1loading">
                        The Matrix
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="p1">
                        Give Me The Dataset
                    </p>
                </td>
                <td class="td2">
                    <form action="http://0.0.0.0:8000/Loading" method="post" class = "f1" enctype=multipart/form-data>
                            <input class="input-file" name=TheDataset id="TheDataset" type="file" multiple="multiple">
                            <label tabindex="0" for="TheDataset" class="csvfileclass">
                                <p class="p1">
                                Choose
                                </p>
                            </label>  
                            <input type="submit" class="submit1">
                    </form>
                </td>
            </tr>
            
        </table>
    </center>
</body>
</html>