<html>
<head>
    <link rel="stylesheet" href= /static/FileReaderStyle.css{{temp}}>
    <script src="/static/jquery-3.3.1.min.js{{temp}}"></script>
    <script src="/static/cursor.js{{temp}}"></script>
    <script src="/static/FileReaderLoad.js{{temp}}"></script>
    <meta charset="UTF-8">
    <title>The Matrix</title>
</head>
<body>
    <center>
        <div id="container" class = "container">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <br>
            </div>
            <div class="loadingText">
                Loading...
            </div>

        </div>
        <table id = "t1" class="t1">
            <tr >
                <td class = "td1" colspan="2">
                    <div class = "div1loading">
                        The Matrix
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="p1">
                        Give Me The Dataset
                    </p>
                </td>
                <td class="td2">
                    <form id = "form1" action="http://127.1.1.0:8000/Loading" method="post" class = "f1" enctype=multipart/form-data>
                            <input class="input-file" name=TheDataset id="TheDataset" type="file" multiple="multiple">
                            <label tabindex="0" for="TheDataset" class="csvfileclass">
                                <p class="p1">
                                Choose
                                </p>
                            </label>
                        <input id = "submit1" type="submit" class="submit1" value="Submit">
                        <!--<input id = "submitOrg" type="submit" style="visibility:hidden;">-->
                    </form>

                </td>
            </tr>
        </table>

    </center>
</body>
</html>