<html>
<head>
    <link rel="stylesheet" href="style.css">
    <script src="jquery-3.3.1.min.js"></script>
    <script src="cursor.js"></script>
    <script src="load.js"></script>
    <!-- <script src="loading.js"></script> -->
    <meta charset="UTF-8">
    <title>The Matrix</title>
</head>
<body>
    <div class="whole">
            <div id = "divInput" class="input">
                <p id = "logInput" class="log">
                    
                </p>
                <div id="cmd">
                    <span id = "s1"></span>
                    <div id="cursor"></div>
                  </div>
                <input id = "command" type="text" class="text1">
            </div>
            <div class="output">
                Hello I'm Matrix!
                <p class="p1">
                    red text
                </p>
                
            </div>
    </div>
</body>
</html>